*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.nav-logo {
  width: 60px;
}

.App {
  padding: 0.625em;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

* + .list-item { 
  padding-left: 1em; 
}

.bold-text {
  font-weight: bold;
}

